.env
*.class
*.log
*.ipr
*.iws
*.iml

# sbt specific
.cache
.history
.lib/
dist/*
lib/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# gradle specific
.gradle
gradle/
build/
out/
gradlew
gradlew.bat

# Scala-IDE specific
.scala_dependencies
.worksheet
.DS_Store
.idea/

config/currentView
initial-split-transaction.txt
transaction-group-*.txt
