.env
*.class
*.log
*.ipr
*.iws
*.iml

# gradle specific
.gradle
out/
build/
gradlew
gradlew.bat

# Scala-IDE specific
.scala_dependencies
.worksheet
.DS_Store
.idea/

initial-split-transaction.txt
transaction-group-*.txt
