.env
*.class
*.log
*.ipr
*.iws
*.iml

# gradle specific
.gradle
out/
build/
gradle/
gradlew
gradlew.bat

# Scala-IDE specific
.scala_dependencies
.worksheet
.DS_Store
.idea/

# temporary files
tmp/

initial-split-transaction.txt
transaction-group-*.txt

*/bin
.vscode/
